body, html {
    height: 100%;
    margin: 0;
    font-family: 'Sarabun', sans-serif;
    background-color: #1a1a2e;
    color: #ffffff;
    display: flex;
    flex-direction: column; /* ใช้ flexbox เพื่อจัดการเลย์เอาต์ */
    align-items: center;
}
.container {
    text-align: center;
    width: 90%;
    max-width: 1200em;
    margin: 20px auto;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px hsl(223, 53%, 18%);
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* มี 8 คอลัมน์ */
    gap: 25px;
    max-height: 100vh; /* จำกัดความสูงของ grid */
    overflow: hidden; /* ไม่ให้เลื่อน */
    transition: transform 0.5s; /* เพิ่มเอฟเฟกต์การเลื่อน */
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* แถวที่มี 6 คอลัมน์ */
    gap: 25px;
    max-height: 100vh; 
    overflow: hidden; 
    transition: transform 0.5s;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2) {
    grid-column: span 3; /* ทำให้สมาชิก 2 คนแรกกินพื้นที่ 3 คอลัมน์ */
}

.grid-item img {
    width: 80%;
    height: auto;
    max-height: 250px;
    border-radius: 10px; 
    object-fit: cover; 
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h3 {
    margin: 10px 0 0 0;
    font-size: 1.1em;
    color: #ffffff;
}
.navigation {
    margin-top: 20px;
}
.nav-button {
    background-color: #1ad61a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.nav-button:hover {
    background-color: #ff6f61;
}